#map {
  width: 500px;
  height: 400px;
  position: relative;
  background-image: url("treasuremap.png") ;
  background-size: cover;
  background-repeat: no-repeat;
}


.treasure-radius {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-color: black;
    opacity: 0.3;
  }

  .treasure {
    position: absolute !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
